// Place all the styles related to the tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

a {
  text-decoration: none;
  color: black;
}

input[type="submit"], .radio_button {
  cursor: pointer;
}

.td_task_status {
  display: flex;
}